<div class="vertical-nav" id="sidebar">
    <!-- Toggle btn For Mobile -->
    <a id="gotoHome""
        class=" btn btn-DEDprimary text-white font-weight-bold text-uppercase px-3 small
        pb-4">الصفحةالرئيسية<br>Dashboard</a>
    <!-- !!End -->
    <!-- Menus -->
    <div class="accordion sideNav" id="accordionExample">
        <div class="mainMenu">
            <div class="mainMenu_name" id="heading_1">
                <button class="btn btn-DEDprimary" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    حماية المستهلك <br>Consumer protection <i class='fas fa-angle-down'></i>
                </button>
            </div>
            <div id="collapseOne" class="collapse mainMenu_links" aria-labelledby="heading_1"
                data-parent="#accordionExample">
                <ul class="nav flex-column">
                    <li class="nav-item waves-effect">
                        <a href="pages\page_Consumer_protection\page_Consumer_protection.html" class=""> حماية
                            المستهلك
                            <br>Consumer protection </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="pages\page_Consumer_protection\page_Business_Protection.html" class="">
                            حماية الأعمال
                            <br>
                            Business Protection
                        </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="pages\page_Consumer_protection\page_Inspection_centers.html" class="">
                            مراكز الخدمة الخاصة بالتفتيش
                            (مخالفات الرقابة التجارية)
                            <br>
                            Inspection centers (Commercial control violations)
                        </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="pages\page_Consumer_protection\page_Intellectual_property.html" class="">
                            الملكية الفكرية
                            <br>
                            Intellectual property
                        </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="pages\page_Consumer_protection\page_Friendly_Standards.html" class="">
                            المعايير الصديقة للمستهلك
                            <br>
                            Friendly Standards
                        </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="pages\page_Consumer_protection\page_Precautionary_measures.html" class="">
                            الإجراءات الاحترازية
                            <br>
                            Precautionary measures
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--  -->
        <div class="mainMenu">
            <div class="mainMenu_name" id="heading_2">
                <button class="btn btn-DEDprimary" type="button" data-toggle="collapse" data-target="#collapse_2"
                    aria-expanded="true" aria-controls="collapseOne">
                    الرخص التجارية <br>BRL <i class='fas fa-angle-down'></i>
                </button>
            </div>
            <div id="collapse_2" class="collapse mainMenu_links" aria-labelledby="heading_2"
                data-parent="#accordionExample">
                <ul class="nav flex-column">
                    <li class="nav-item  waves-effect">
                        <a href="" class=""> الترتيب الرقمي للأنشطة
                            <br>Activity Book </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="" class="">
                            الأنشطة المحدثة
                            <br>
                            Updated Activity
                        </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="pages/page_BRL_Required_Documents/page_BRL_Required_Documents.html" class="">
                            الأوراق المطلوبة
                            <br>
                            Required Documents
                        </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="#" class="">
                            التصاريح
                            <br>
                            Contact Center Extensions
                        </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="#" class="">
                            المعايير الصديقة للمستهلك
                            <br>
                            Friendly Standards
                        </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="#" class="">
                            مراكز الخدمة المعتمدة
                            <br>
                            Permit
                        </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="#" class="">
                            الدوائر المربوطة إلكترونيا
                            <br>
                            E- link Department
                        </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="#" class="">
                            الأسماء التجارية
                            <br>
                            Trade name
                        </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="#" class="">
                            المناطق الحرة
                            <br>
                            Free Zone
                        </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="#" class="">
                            (Warehouse Activities)أنشطة المستودع
                            <br>
                            DED Certified Offices
                        </a>
                    </li>
                    <li class="nav-item  waves-effect">
                        <a href="#" class="">
                            الأنشطة السياحية(سابقا)
                            <br>
                            (Previous) Tourism Activities
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--  -->
        <div class="mainMenu">
            <div class="mainMenu_name" id="heading_3">
                <button class="btn btn-DEDprimary" type="button" data-toggle="collapse" data-target="#collapse_3"
                    aria-expanded="true" aria-controls="collapseOne">
                    مؤسسة دبي لتنمية الاستثمار <br>Dubai FDI <i class='fas fa-angle-down'></i>
                </button>
            </div>
            <div id="collapse_3" class="collapse mainMenu_links" aria-labelledby="heading_3"
                data-parent="#accordionExample">
                <ul class="nav flex-column">
                    <li class="nav-item  waves-effect">
                        <a href="pages\page_FDI\page_FDI.html" class=""> مؤسسة دبي لتنمية الاستثمار
                            <br>Dubai FDI </a>
                    </li>

                </ul>
            </div>
        </div>
        <!--  -->
        <div class="mainMenu">
            <div class="mainMenu_name" id="heading_6">
                <button class="btn btn-DEDprimary" type="button" data-toggle="collapse" data-target="#collapse_6"
                    aria-expanded="true" aria-controls="collapseOne">
                    مؤسسة محمد بن راشد <br>SME <i class='fas fa-angle-down'></i>
                </button>
            </div>
            <div id="collapse_6" class="collapse mainMenu_links" aria-labelledby="heading_6"
                data-parent="#accordionExample">
                <ul class="nav flex-column">
                    <li class="nav-item  waves-effect">
                        <a href="#" class=""> مؤسسة محمد بن راشد
                            <br>SME </a>
                    </li>

                </ul>
            </div>
        </div>
        <!--  -->
        <div class="mainMenu">
            <div class="mainMenu_name" id="heading_4">
                <button class="btn btn-DEDprimary" type="button" data-toggle="collapse" data-target="#collapse_4"
                    aria-expanded="true" aria-controls="collapseOne">
                    مؤسسة دبي لتنمية الصادرات <br>Dubai Exports <i class='fas fa-angle-down'></i>
                </button>
            </div>
            <div id="collapse_4" class="collapse mainMenu_links" aria-labelledby="heading_4"
                data-parent="#accordionExample">
                <ul class="nav flex-column">
                    <li class="nav-item  waves-effect">
                        <a href="#" class=""> مؤسسة دبي لتنمية الصادرات
                            <br>Dubai Exports </a>
                    </li>

                </ul>
            </div>
        </div>
        <!--  -->
        <div class="mainMenu">
            <div class="mainMenu_name" id="heading_5">
                <button class="btn btn-DEDprimary" type="button" data-toggle="collapse" data-target="#collapse_5"
                    aria-expanded="true" aria-controls="collapseOne">
                    المناطق الحرة في دبي <br>Dubai Free Zones <i class='fas fa-angle-down'></i>
                </button>
            </div>
            <div id="collapse_5" class="collapse mainMenu_links" aria-labelledby="heading_5"
                data-parent="#accordionExample">
                <ul class="nav flex-column">
                    <li class="nav-item  waves-effect">
                        <a href="#" class=""> المناطق الحرة في دبي
                            <br>Dubai Free Zones </a>
                    </li>

                </ul>
            </div>
        </div>
        <button type="button"
            class="btn btn-DEDprimary waves-ripple text-white font-weight-bold text-uppercase px-3 small pb-4">خريطة
            المواقع<br>Location Map
        </button>
    </div>
    <!-- !!End -->
</div>
<script>
    $(document).ready(function () {
        $('#gotoHome').click(function () {
            $("#loadPages").load("pages/dashboard/dashboard.html");
        })
        
        // Toggle to ClosesideNav if click on <a> in Small Screen
        $('.nav-item a').click(function (event) {
            if ($("#content").hasClass("active")) {
                $("#content").toggleClass("active");
                $("#sidebar").toggleClass("active");
                $("#sidebarCollapse").find("i").toggleClass("fa-minus-square fa-columns");
            }
            else {
                // $("#content").toggleClass("active");
                // $("#sidebar").toggleClass("active");
                // $("#sidebarCollapse").find("i").toggleClass("fa-minus-square fa-columns");
            }
            // To load pages(Links)
            var page = $(this).attr('href');
            $("#loadPages").load(page);
            event.preventDefault();
            return false;

        })
        
        //Active <a> if selected
        $(".mainMenu_links a").on("click", function (event) {
            $("li.active").removeClass("active");
            // adding classname 'active' to current click li 
            $(this).parent().addClass("active");
        });
    });
</script>